cortx-aws/src/statemachine/definition.json
{
  "Comment": "A state machine that initiates an SSM command and polls for its completion",
  "StartAt": "InitiateCommand",
  "States": {
    "InitiateCommand": {
      "Type": "Task",
      "Resource": "${InitiatorFunctionArn}",
      "Next": "WaitBeforePolling"
    },
    "WaitBeforePolling": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "PollCommandStatus"
    },
    "PollCommandStatus": {
      "Type": "Task",
      "Resource": "${PollerFunctionArn}",
      "Next": "IsCommandComplete"
    },
    "IsCommandComplete": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.isComplete",
          "BooleanEquals": true,
          "Next": "CommandComplete"
        }
      ],
      "Default": "WaitBeforePolling"
    },
    "CommandComplete": {
      "Type": "Pass",
      "End": true,
      "ResultPath": "$"
    }
  }
}